body{
    
    
}
/* header start */
.nav-img img{
    width: 250px;
    height: 70px;
}
.menu-bar{
    
}
.top-menu-bar a{
    color: black;
    font-weight: 600;
}
.sign-in-btn{
    border: none;
    border-radius:20px;
    padding: 5px 24px;
    font-family: none;

    
}
.learn-with-fun{
    margin-top: 50px;
}
.learn-question{
    color: red;
    
}
.learn-para{
    width: 400px;
}
.schedule-span{
    color: green;
    
}
.learn-with-fun h1{
    font-family: 'Poppins', sans-serif;
    
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.6;
}
.menubar li a{
    overflow: hidden;
    display: block;
    
    color:black;
    font-weight: 700;
    justify-content: right;
}
.menubar-img{
    margin-top: 100px;
   
 
}
.menu-bar{
    margin-top: -200px;
    text-align: right;
}
.menubar-img img{
    widows: 500px;
    height: 300px;

}
header{
    background-color: rgb(216, 233, 216);
}
/* header end  */

/* topic start  */
.col-md-3{
   
}
.card-img{
    width: 50px;
    height: 50px;
    margin:0 auto;
    margin-top:15px;
    
    
}
.empty-col{
    display: block;
}
.container{
    margin-bottom: 50px;
}
.card-d{
    width:200px;
    height:200px;
}
.card{
    border:none;
    background-color: ghostwhite;
}
.card-2{
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgb(179, 176, 176);
}
.online-head{
    text-align: center;
}
/* online Class start */
.card-footer img{
    width: 15px;
    height: 15px;
}
.online-card{
    background-color: white;
    border: none;
}
.card-footer{
    border: none;
    background-color: none !important;
    box-shadow: none;
}

/* online  class end  */

/* man-comment start  */

.man-sec img{
   
    width: 100px;
    height:100px;
    margin-right:20px;
    
    float: left;
}
.man-sec{
    
   
}
.man-comment{
    
    
    width: 500px;
}
/* man-comment end  */

/* footer section start  */
.course-footer{
    height:px;
    color:white;
    background-color:black;
    padding:10px 20px;
    padding-top: 20px;
}
footer{
    
}
.all-list-item li{
    list-style: none;
    font-size: 10px;
}
.list-head{
    font-weight: 700;
}
.footer-last-element{
    color:white;
    text-align:center;
    font-size: 10px;
    margin-top: px;

}
 /* footer section end  */

    /*Extra mack carousel  start here*/
    

section#mack-book{
    margin-bottom: 100px;
}

.carousel-indicators li{
    width: 20px;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: #CECECE;
}
.carousel-indicators li.active{
    width: 35px;
    height: 10px;
    border-radius: 8px; 
    background-image: linear-gradient(145deg,#f1c40f,#e67e22);
}

.mack {
    padding: 10% 4%;
}

.mack p {
    margin-bottom: 30px;
}

.mack a.mack-btn {
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 1s;
    cursor: pointer;
}

.mack a.mack-btn:hover {
    background-color: white;
    color: black;
}

svg.bi.bi-arrow-right {
    color: white;
    font-size: 20px;
    transition: .5s;
}

a.mack-btn:hover svg.bi.bi-arrow-right{
    transform: rotate(-180deg);
    color: black;
}

/* End  */
